## Dependencies

In [1]:
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import json
from pprint import pprint
import requests

## Import Files

In [3]:
#Zipcode Lat/Lon
zipcodes_file = "zipcodes.csv"
zips_df = pd.read_csv(zipcodes_file)
zips_df.head()

#State Lat/Lon
states_file = "states.csv"
states_df = pd.read_csv(states_file)
states_df.head()

# Metric Data
## Anemia
anem_file = "Anemia Management.csv"
anem_df_1 = pd.read_csv(anem_file)
anem_df_1.head()

# Depression
depr_file = "Depression Screening.csv"
depr_df_1 = pd.read_csv(depr_file)
depr_df_1.head()

,Facility Name,CMS Certification Number (CCN),Alternate CCN 1,Address 1,Address 2,City,State,Zipcode,Network,Measure Name,Clinical Depression Screening and Follow-up Measure Score,State Avg Clinical Depression Screening and Follow-up Measure Score,National Avg Clinical Depression Screening and Follow-up Measure Score
0,CHILDRENS HOSPITAL DIALYSIS,12306,13300,1600 7TH AVENUE SOUTH,-,BIRMINGHAM,AL,35233,8,CLINICAL DEPRESSION,10,10,10
1,FMC CAPITOL CITY,12500,-,255 S JACKSON STREET,-,MONTGOMERY,AL,36104,8,CLINICAL DEPRESSION,10,10,10
2,GADSDEN DIALYSIS,12501,-,409 SOUTH FIRST STREET,-,GADSDEN,AL,35901,8,CLINICAL DEPRESSION,10,10,10
3,TUSCALOOSA UNIVERSITY DIALYSIS,12502,-,220 15TH STREET,-,TUSCALOOSA,AL,35401,8,CLINICAL DEPRESSION,10,10,10
4,PCD MONTGOMERY,12505,-,1001 FOREST AVENUE,-,MONTGOMERY,AL,36106,8,CLINICAL DEPRESSION,10,10,10

## Transform Data

In [15]:
# ANEMIA

# Merge Metric & Zipcode Lat/Lon Data
anem_merged_df = pd.merge(anem_df_1, zips_df, how = "left", on="Zipcode")
anem_merged_df = anem_merged_df[["Facility Name", "CMS Certification Number (CCN)", "City_x", "State_x", "Zipcode", "Measure Name", "Anemia Management Measure Score", "State Avg Anemia Management Measure Score", "National Avg Anemia Management Measure Score", "Lat", "Long"]]
anem_merged_df = anem_merged_df.rename(columns = {"Lat": "ZipLat", "Long" : "ZipLon", "State_x" : "state", "City_x" : "City"})
anem_merged_df.head()

# Merge in State Lat/Lon data
anem_df = pd.merge(anem_merged_df, states_df, left_on = "state", right_on = "State")
anem_df = anem_df.drop(columns=["City_y", "State"])
anem_df = anem_df[anem_df["Anemia Management Measure Score"] != "No Score"]
anem_df = anem_df.rename(columns = {"Facility Name" : "FacilityName", "CMS Certification Number (CCN)" : "CCN", "City_x" : "City", "Measure Name" : "MeasureName", "Anemia Management Measure Score" : "AnemiaScore", "State Avg Anemia Management Measure Score" : "value", "National Avg Anemia Management Measure Score" : "NationalAvg",  "Latitude" : "StateLat", "Longitude" : "StateLon"})
anem_df["AnemiaScore"] = anem_df["AnemiaScore"].astype('int64')
anem_df.head()

# State avgs 
anem_stateavgs_df = anem_df.groupby(["state"]).mean()
anem_stateavgs_df = anem_stateavgs_df[["value", "NationalAvg", "StateLat", "StateLon"]]
anem_stateavgs_df = anem_stateavgs_df.dropna()
anem_stateavgs_df = anem_stateavgs_df.reset_index()
anem_stateavgs_df

# Non-10 data
anem_outliers_df = anem_df[anem_df["AnemiaScore"] < 10]
anem_outliers_df.head()
anem_outliers_stateavgs_df = anem_outliers_df.groupby(["state"]).mean()
anem_outliers_stateavgs_df = anem_outliers_stateavgs_df[["AnemiaScore", "StateLat", "StateLon"]]
anem_outliers_stateavgs_df = anem_outliers_stateavgs_df.rename(columns = {"AnemiaScore" : "value"})
anem_outliers_stateavgs_df = anem_outliers_stateavgs_df.round(2)
anem_outliers_stateavgs_df

#------------------------------------------
# DEPRESSION

# Merge Metric & Zipcode Lat/Lon Data
depr_merged_df = pd.merge(depr_df_1, zips_df, how = "left", on="Zipcode")
depr_merged_df = depr_merged_df[["Facility Name", "CMS Certification Number (CCN)", "City_x", "State_x", "Zipcode", "Measure Name", "Clinical Depression Screening and Follow-up Measure Score", "State Avg Clinical Depression Screening and Follow-up Measure Score", "National Avg Clinical Depression Screening and Follow-up Measure Score", "Lat", "Long"]]
depr_merged_df = depr_merged_df.rename(columns = {"Lat": "ZipLat", "Long" : "ZipLon", "State_x" : "state", "City_x" : "City"})
depr_merged_df.head()

# Merge in State Lat/Lon data
depr_df = pd.merge(depr_merged_df, states_df, left_on = "state", right_on = "State")
depr_df = depr_df.drop(columns=["City_y", "State"])
depr_df = depr_df[depr_df["Clinical Depression Screening and Follow-up Measure Score"] != "No Score"]
depr_df = depr_df.rename(columns = {"Facility Name" : "FacilityName", "CMS Certification Number (CCN)" : "CCN", "City_x" : "City", "Measure Name" : "MeasureName", "Clinical Depression Screening and Follow-up Measure Score" : "DepressionScore", "State Avg Clinical Depression Screening and Follow-up Measure Score" : "value", "National Avg Clinical Depression Screening and Follow-up Measure Score" : "NationalAvg",  "Latitude" : "StateLat", "Longitude" : "StateLon"})
depr_df["DepressionScore"] = depr_df["DepressionScore"].astype('int64')
depr_df.head()

# State avgs 
depr_stateavgs_df = depr_df.groupby(["state"]).mean()
depr_stateavgs_df = depr_stateavgs_df[["value", "NationalAvg", "StateLat", "StateLon"]]
depr_stateavgs_df = depr_stateavgs_df.dropna()
depr_stateavgs_df

# Non-10 data
depr_outliers_df = depr_df[depr_df["DepressionScore"] < 10]
depr_outliers_df.head()
depr_outliers_stateavgs_df = depr_outliers_df.groupby(["state"]).mean()
depr_outliers_stateavgs_df = depr_outliers_stateavgs_df[["DepressionScore", "StateLat", "StateLon"]]
depr_outliers_stateavgs_df = depr_outliers_stateavgs_df.rename(columns = {"DepressionScore" : "value"})
depr_outliers_stateavgs_df = depr_outliers_stateavgs_df.round(2)
depr_outliers_stateavgs_df = depr_outliers_stateavgs_df.reset_index()
depr_outliers_stateavgs_df

anem_df.head()
# anem_df.dtypes
depr_outliers_stateavgs_df

   state  value  StateLat  StateLon
0     AL   8.07     32.60    -86.68
1     AR   8.00     34.75    -92.13
2     AZ   8.75     34.17   -111.93
3     CA   6.62     37.27   -119.27
4     CO   8.20     39.00   -105.55
5     CT   9.00     41.52    -72.76
6     DC   9.00     38.90    -77.01
7     DE   1.00     39.15    -75.42
8     FL   6.13     27.98    -83.83
9     GA   6.65     32.68    -83.22
10    IA   7.71     41.94    -93.39
11    IL   6.90     39.74    -89.50
12    IN   8.44     39.77    -86.44
13    KS   6.75     38.50    -98.32
14    KY   6.00     37.82    -85.77
15    LA   4.00     30.97    -91.43
16    MA   7.55     42.06    -71.72
17    MD   6.34     38.81    -77.27
18    ME   9.00     45.22    -69.01
19    MI   8.38     44.94    -86.42
20    MN   7.22     46.44    -93.37
21    MO   6.55     38.30    -92.44
22    MS   7.43     32.59    -89.88
23    NC   9.00     35.21    -79.89
24    ND   8.40     47.47   -100.30
25    NE   8.57     41.50    -99.68
26    NJ   6.65     40.14    -74.73
27    NM   5.80     34.17   -106.03
28    NV   7.20     38.50   -117.02
29    NY   6.74     40.71    -73.98
30    OH   7.87     40.19    -82.67
31    OK   6.80     35.31    -98.72
32    OR   8.50     44.14   -120.54
33    PA   5.20     40.99    -77.60
34    RI   8.00     41.58    -71.51
35    SC   8.89     33.63    -80.95
36    SD   7.60     44.21   -100.25
37    TN   7.25     35.83    -85.98
38    TX   7.86     31.17   -100.08
39    UT   6.00     39.50   -111.55
40    VA   8.18     38.00    -79.46
41    VT   9.00     43.87    -72.45
42    WA   8.67     38.90    -77.01
43    WI   6.87     44.79    -89.83
44    WV   9.00     38.92    -80.18
45    WY   5.20     43.00   -107.55

## Database

In [5]:
connection_string = "root:toor2@localhost/esrd_db"
engine = create_engine(f'mysql://{connection_string}')

In [6]:
# Confirm tables
engine.table_names()

['anem_stateavgs_tbl',
 'anem_stateoutliers_tbl',
 'anem_tbl',
 'depr_stateavgs_tbl',
 'depr_stateoutliers_tbl',
 'depr_tbl']

In [17]:
# anem_df.to_sql('anem_tbl', con=engine, if_exists='replace', index=True)
#engine.execute("alter table anem_tbl ADD PRIMARY KEY (id);")

In [ ]:
# anem_stateavgs_df.to_sql('anem_stateavgs_tbl', con=engine, if_exists='replace', index=True)

In [ ]:
# anem_outliers_stateavgs_df.to_sql('anem_stateoutliers_tbl', con=engine, if_exists='replace', index=True)

In [ ]:
# depr_df.to_sql('depr_tbl', con=engine, if_exists='replace', index=True)

In [ ]:
# depr_stateavgs_df.to_sql('depr_stateavgs_tbl', con=engine, if_exists='replace', index=True)

In [ ]:
anem_stateavgs_df.to_csv("anem_stateavgs.csv")

In [ ]:
anem_outliers_stateavgs_df.to_csv("anem_stateoutliers.csv")

In [ ]:
anem_df

In [ ]:
engine.execute("SELECT * FROM depr_tbl").fetchall()

In [8]:
anem_outliers_df.to_csv("anem_outliers.csv")

In [16]:
depr_outliers_df.to_csv("depr_outliers.csv")