## Dependencies

In [13]:
import pymysql
pymysql.install_as_MySQLdb()

In [14]:
import pandas as pd
from sqlalchemy import create_engine
import json
from pprint import pprint
import requests

## Import Files

In [15]:
#Zipcode Lat/Lon
zipcodes_file = "zipcodes.csv"
zips_df = pd.read_csv(zipcodes_file)
zips_df.head()

#State Lat/Lon
states_file = "states.csv"
states_df = pd.read_csv(states_file)
states_df.head()

# Metric Data
## Anemia
anem_file = "Anemia Management.csv"
anem_df_1 = pd.read_csv(anem_file)
anem_df_1.head()

# Depression
depr_file = "Depression Screening.csv"
depr_df_1 = pd.read_csv(depr_file)
depr_df_1.head()

,Facility Name,CMS Certification Number (CCN),Alternate CCN 1,Address 1,Address 2,City,State,Zipcode,Network,Measure Name,Clinical Depression Screening and Follow-up Measure Score,State Avg Clinical Depression Screening and Follow-up Measure Score,National Avg Clinical Depression Screening and Follow-up Measure Score
0,CHILDRENS HOSPITAL DIALYSIS,12306,13300,1600 7TH AVENUE SOUTH,-,BIRMINGHAM,AL,35233,8,CLINICAL DEPRESSION,10,10,10
1,FMC CAPITOL CITY,12500,-,255 S JACKSON STREET,-,MONTGOMERY,AL,36104,8,CLINICAL DEPRESSION,10,10,10
2,GADSDEN DIALYSIS,12501,-,409 SOUTH FIRST STREET,-,GADSDEN,AL,35901,8,CLINICAL DEPRESSION,10,10,10
3,TUSCALOOSA UNIVERSITY DIALYSIS,12502,-,220 15TH STREET,-,TUSCALOOSA,AL,35401,8,CLINICAL DEPRESSION,10,10,10
4,PCD MONTGOMERY,12505,-,1001 FOREST AVENUE,-,MONTGOMERY,AL,36106,8,CLINICAL DEPRESSION,10,10,10

## Transform Data

In [18]:
# ANEMIA

# Merge Metric & Zipcode Lat/Lon Data
anem_merged_df = pd.merge(anem_df_1, zips_df, how = "left", on="Zipcode")
anem_merged_df = anem_merged_df[["Facility Name", "CMS Certification Number (CCN)", "City_x", "State_x", "Zipcode", "Measure Name", "Anemia Management Measure Score", "State Avg Anemia Management Measure Score", "National Avg Anemia Management Measure Score", "Lat", "Long"]]
anem_merged_df = anem_merged_df.rename(columns = {"Lat": "ZipLat", "Long" : "ZipLon", "State_x" : "State", "City_x" : "City"})
anem_merged_df.head()

# Merge in State Lat/Lon data
anem_df = pd.merge(anem_merged_df, states_df, how = "left", on="State")
anem_df = anem_df.drop(columns=["City_y"])
anem_df = anem_df[anem_df["Anemia Management Measure Score"] != "No Score"]
anem_df = anem_df.rename(columns = {"Facility Name" : "FacilityName", "CMS Certification Number (CCN)" : "CCN", "City_x" : "City", "Measure Name" : "MeasureName", "Anemia Management Measure Score" : "AnemiaScore", "State Avg Anemia Management Measure Score" : "StateAvg", "National Avg Anemia Management Measure Score" : "NationalAvg",  "Latitude" : "StateLat", "Longitude" : "StateLon"})
anem_df.head()

# State avgs 
anem_stateavgs_df = anem_df.groupby(["State"]).mean()
anem_stateavgs_df = anem_stateavgs_df[["StateAvg", "NationalAvg", "StateLat", "StateLon"]]
anem_stateavgs_df = anem_stateavgs_df.dropna()
anem_stateavgs_df

#------------------------------------------
# DEPRESSION

# Merge Metric & Zipcode Lat/Lon Data
depr_merged_df = pd.merge(depr_df_1, zips_df, how = "left", on="Zipcode")
depr_merged_df = depr_merged_df[["Facility Name", "CMS Certification Number (CCN)", "City_x", "State_x", "Zipcode", "Measure Name", "Clinical Depression Screening and Follow-up Measure Score", "State Avg Clinical Depression Screening and Follow-up Measure Score", "National Avg Clinical Depression Screening and Follow-up Measure Score", "Lat", "Long"]]
depr_merged_df = depr_merged_df.rename(columns = {"Lat": "ZipLat", "Long" : "ZipLon", "State_x" : "State", "City_x" : "City"})
depr_merged_df.head()

# Merge in State Lat/Lon data
depr_df = pd.merge(depr_merged_df, states_df, how = "left", on="State")
depr_df = depr_df.drop(columns=["City_y"])
depr_df = depr_df[depr_df["Clinical Depression Screening and Follow-up Measure Score"] != "No Score"]
depr_df = depr_df.rename(columns = {"Facility Name" : "FacilityName", "CMS Certification Number (CCN)" : "CCN", "City_x" : "City", "Measure Name" : "MeasureName", "Clinical Depression Screening and Follow-up Measure Score" : "DepressionScore", "State Avg Clinical Depression Screening and Follow-up Measure Score" : "StateAvg", "National Avg Clinical Depression Screening and Follow-up Measure Score" : "NationalAvg",  "Latitude" : "StateLat", "Longitude" : "StateLon"})
depr_df.head()

# State avgs 
depr_stateavgs_df = depr_df.groupby(["State"]).mean()
depr_stateavgs_df = depr_stateavgs_df[["StateAvg", "NationalAvg", "StateLat", "StateLon"]]
depr_stateavgs_df = depr_stateavgs_df.dropna()
depr_stateavgs_df

       StateAvg  NationalAvg   StateLat    StateLon
State
AK         10.0         10.0  61.302501 -158.775020
AL         10.0         10.0  32.601011  -86.680737
AR         10.0         10.0  34.751927  -92.131378
AZ         10.0         10.0  34.168218 -111.930907
CA         10.0         10.0  37.271874 -119.270415
CO         10.0         10.0  38.997934 -105.550567
CT         10.0         10.0  41.518783  -72.757507
DC         10.0         10.0  38.899349  -77.014567
DE          9.0         10.0  39.145251  -75.418921
FL          9.0         10.0  27.975728  -83.833017
GA         10.0         10.0  32.678125  -83.222976
HI         10.0         10.0  20.460000 -157.505000
IA         10.0         10.0  41.938317  -93.389798
ID         10.0         10.0  45.494576 -114.142430
IL         10.0         10.0  39.739318  -89.504139
IN         10.0         10.0  39.766220  -86.441277
KS         10.0         10.0  38.498779  -98.320078
KY         10.0         10.0  37.822293  -85.768240
LA          9.0         10.0  30.973377  -91.429910
MA         10.0         10.0  42.062940  -71.718067
MD          9.0         10.0  38.806352  -77.268416
ME         10.0         10.0  45.218513  -69.014866
MI         10.0         10.0  44.943560  -86.415805
MN         10.0         10.0  46.441860  -93.365515
MO         10.0         10.0  38.304662  -92.437099
MS         10.0         10.0  32.585106  -89.877220
MT         10.0         10.0  46.679800 -110.044783
NC         10.0         10.0  35.214563  -79.891267
ND          9.0         10.0  47.467882 -100.302265
NE         10.0         10.0  41.500820  -99.680902
NH         10.0         10.0  44.001231  -71.579923
NJ         10.0         10.0  40.143006  -74.731116
NM         10.0         10.0  34.166232 -106.026068
NV         10.0         10.0  38.502032 -117.023060
NY          9.0         10.0  40.705626  -73.979680
OH         10.0         10.0  40.190362  -82.669252
OK         10.0         10.0  35.309765  -98.716559
OR         10.0         10.0  44.141905 -120.538099
PA         10.0         10.0  40.994593  -77.604698
RI          9.0         10.0  41.582728  -71.506451
SC         10.0         10.0  33.625050  -80.947038
SD          8.0         10.0  44.212699 -100.247164
TN         10.0         10.0  35.830521  -85.978599
TX         10.0         10.0  31.169336 -100.076842
UT         10.0         10.0  39.499761 -111.547028
VA         10.0         10.0  38.003386  -79.458786
VT         10.0         10.0  43.871755  -72.447783
WA         10.0         10.0  38.899349  -77.014567
WI         10.0         10.0  44.786297  -89.826705
WV         10.0         10.0  38.920171  -80.181691
WY          7.0         10.0  43.000325 -107.554567

## Database

In [19]:
connection_string = "root:toor2@localhost/esrd_db"
engine = create_engine(f'mysql://{connection_string}')

In [25]:
# Confirm tables
engine.table_names()

['anem_stateavgs_tbl', 'anem_tbl', 'depr_stateavgs_tbl', 'depr_tbl']

In [26]:
anem_df.to_sql(name='anem_tbl', con=engine, if_exists='append', index=False)

In [27]:
anem_stateavgs_df.to_sql(name='anem_stateavgs_tbl', con=engine, if_exists='append', index=False)

In [28]:
depr_df.to_sql(name='depr_tbl', con=engine, if_exists='append', index=False)

In [29]:
depr_stateavgs_df.to_sql(name='depr_stateavgs_tbl', con=engine, if_exists='append', index=False)